@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');


.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.479);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none; 
  -ms-user-select: none; 
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.home {
  background-color: rgba(255, 255, 255, 0.479);
  width: 100vw;
  position: relative;
  min-height: 100vh;
}

.mobile-nav {
  display: none;
}

.appointment{
  background-color: rgba(255, 255, 255, 0.479);
  height: 100vh;
  width: 100vw;
  margin: 10px auto;
}

.gallery {
  background-color: rgba(255, 255, 255, 0.479);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  font-family: 'Lobster';
  color: pink;
  -webkit-text-stroke: black .5px;
  margin: 10px auto;
}

.contact {
  background-color: rgba(255, 255, 255, 0.479);
  height: 100vh;
  width: 100vw;
  margin: 10px auto;
}

.about {
  margin: 10px auto;
  font-size: 22px;
}

.about-text{
  background-color: rgb(255, 240, 242);
  color: rgb(33, 116, 30);
  width: 65%;
  height: 40%;
  padding: 15px 10px 10px 10px;
  margin: 0 auto;
  border: solid rgba(0, 0, 0, 0.089) 1px;
  border-radius: 2%;
  align-content: center;
  overflow: auto;
}

form {
  display: flex; 
  flex-direction: column; 
  max-width: 400px; 
  margin: 10px auto;
}

.imagePreview {
  position: relative;
  width: 200px;
}

.imagePreview img {
  width: 100%;
}

.imagePreview button {
  position: absolute;
  right: 0;
  top: 0;
}

form > * {
  margin: 10px 0;
}

img {
  max-width: 400px;
  margin: auto;
}

.sign-in{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.appointment-modal{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 25%; 
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.932);
  border: solid black 1px;
  border-radius: 5%;
  font-size: 18px;
  display: none;
}

.contact-modal{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 25%; 
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.767);
  border: solid black 1px;
  border-radius: 5%;
  display: none;
}

.loggedout-modal{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 25%; 
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.767);
  border: solid black 1px;
  border-radius: 5%;
  display: none;
}

.admin-modal{
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 25%; 
  margin-left: -150px;
  margin-top: -150px;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.767);
  border: solid black 1px;
  border-radius: 5%;
  display: none;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.desktop-nav{
  width:100%
}

.my-profile {
  margin: 10px auto;
}

.appointment-form, .contact-form, .admin-upload-div{
  background-color: rgb(255, 240, 242);
  width: 60%;
  margin: 10px auto;
  border: solid rgba(0, 0, 0, 0.089) 1px;
  border-radius: 2%;
  align-content: center;
}

.single-appointment-div{
  width: 60%;
  margin: 0 auto;
  border-radius: 5%;
  align-content: center;
  z-index: 1;
}

.nav-bar {
  width: 100%;
  background-color: rgba(255, 192, 203, 0.493);
}

.navlink {
  color: rgb(33, 116, 30);
  text-decoration: none;
  user-select: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 26px;
}

.navlink:hover{
  color: white;
}

.homepage-carousel {
  margin: 20px 0px 20px 0px
}

.welcome-div{
  font-family: 'Lobster';
  color: pink;
  -webkit-text-stroke: black .4px;
  letter-spacing: 1px;
  font-size: 72px;
}

h1, h2, h5{
  font-family: 'Lobster';
  color: pink;
  -webkit-text-stroke: black .5px;
}

.welcome-div-message {
  font-family: 'Times New Roman', Times, serif;
  -webkit-text-stroke: black .2px;
  font-style: italic;
}

.home-button{
  background-color: pink !important;
  color: black !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select an inspo pic!';
  display: inline-block;
  background-color: rgb(240, 240, 240);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.captcha{
  margin: 10px auto 10px;
}

.appointment-form-mobile{
  display: none;
}

.profile-picture{
  width: 100px;
  height: 100px;
  border-radius: 300px;
}

@media only screen and (max-width: 800px) {

  .welcome-div{
    font-family: 'Lobster';
    letter-spacing: 1px;
    font-size: 72px;
    color: pink;
  }
  .welcome-div-message {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: pink;
  }

  .mobile-nav{
    margin: 0 auto;
    display: block;
    width: 100%;
    background-color: rgba(255, 192, 203, 0.493);
    border-radius: 20px;
  }

  .desktop-nav{
    display: none;
  }

  img{
    width: 100%;
  }

  .navlink:hover{
    color: rgb(255, 255, 255);
  }

  .about-text{
    background-color: rgb(255, 240, 242);
    color: rgb(33, 116, 30);
    width: 90%;
    height: 100%;
    padding: 15px 10px 10px 10px;
    margin: 0 auto;
    border: solid rgba(0, 0, 0, 0.089) 1px;
    border-radius: 2%;
    align-content: center;
    overflow: auto;
  }

  .content-wrap {
    padding-bottom: 2.5rem;
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    font-size: 10px;
  }

  .appointment-form-mobile, .contact-form, .admin-upload-div{
    background-color: rgb(255, 240, 242);
    width: 90%;
    margin: 10px auto;
    border: solid rgba(0, 0, 0, 0.089) 1px;
    border-radius: 2%;
    align-content: center;
  }

  .single-appointment-div{
    width: 90%;
  }

  .appointment-form{
    display: none;
  }

  .appointment-form-mobile{
    display: block;
  }

  .appointment-modal, .contact-modal, .admin-modal, .loggedout-modal{
    position: fixed;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 25%; 
    margin-left: -150px;
    margin-top: -150px;
  }

  .modal-button {
    bottom: 0;
  }

  .profile-picture{
    width: 100px;
    height: 100px;
    border-radius: 300px;
  }

}