@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');

.App {
  text-align: center;
  background-color: rgba(247, 237, 225, 0.479);

}

.home {
  background-color: rgba(255, 255, 255, 0.479);
  height: 100vh;
  width: 100vw;
}

.about{
  background-color: rgba(247, 237, 225, 0.479);
  height: 100vh;
  width: 100vw;
}

.appointment{
  background-color: rgba(247, 237, 225, 0.479);
  height: 100vh;
  width: 100vw;
}

.gallery {
  background-color: rgba(247, 237, 225, 0.479);
  height: 100vh;
  width: 100vw;
  overflow: auto;
  font-family: 'Lobster';
  color: pink;
  -webkit-text-stroke: black .5px;
  margin: 10px auto;
}

.contact {
  background-color: rgba(247, 237, 225, 0.479);
  height: 100vh;
  width: 100vw;
}

.about {
  background-color: rgb(255, 240, 242);
  width: 60%;
  height: 13vh;
  padding: 10px 10px 10px 10px;
  margin: 10px auto;
  border: solid rgba(0, 0, 0, 0.089) 1px;
  border-radius: 2%;
  align-content: center;
}

form {
  display: flex; 
  flex-direction: column; 
  max-width: 400px; 
  margin: 10px auto;
}

.imagePreview {
  position: relative;
  width: 200px;
}

.imagePreview img {
  width: 100%;
}

.imagePreview button {
  position: absolute;
  right: 0;
  top: 0;
}

form > * {
  margin: 10px 0;
}

img {
  max-width: 400px;
  margin: auto;
}

.sign-in{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

.appointment-modal{
  display: none;
  position: fixed;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.5);
  border: 2px solid black;
  width: 500px;
  height: 25%;
}

.contact-modal{
  display: none;
  position: fixed;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.5);
  border: 2px solid black;
  width: 500px;
  height: 25%;
}

.loggedout-modal{
  display: none;
  position: fixed;
  z-index: 1; 
  background-color: rgba(240, 176, 198, 0.5);
  border: 2px solid black;
  width: 500px;
  height: 25%;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}

.nav{
  width:100%
}

.appointment-form, .contact-form, .admin-upload-div{
  background-color: rgb(255, 240, 242);
  width: 60%;
  margin: 10px auto;
  border: solid rgba(0, 0, 0, 0.089) 1px;
  border-radius: 2%;
  align-content: center;
}

.single-appointment-div{
  width: 60%;
  margin: 0 auto;
  border-radius: 5%;
  align-content: center;
}

.nav-bar {
  width: 100%;
}

.navlink {
  color: rgb(255, 255, 255);
  text-decoration: none;
  user-select: none;
}

.homepage-carousel {
  margin: 20px 0px 20px 0px
}

.welcome-div{
  font-family: 'Lobster';
  color: rgb(245, 91, 142);
  -webkit-text-stroke: black .5px;
  letter-spacing: 1px;
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(250, 245, 245), rgb(245, 91, 142));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}